---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Title from "../components/Title.astro";
import SlideWrapper from "../components/slides/SlideWrapper.astro";

const title = "The Role of a Tech Lead";
---

<Layout title={title}>
  <main class="m-auto max-w-5xl min-h-screen grid place-content-center px-5">
    <Title text={title} />
    <SlideWrapper />
  </main>
</Layout>
